---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageIntro from "../components/PageIntro.astro";
---

<BaseLayout title="CV" description="Curriculum vitae for T' / Dustooned.">
  <article class="content-shell document-page">
    <PageIntro title="CV" description="To merge my experience as a comics artist, designer, and educator to develop transformative visual storytelling projects." />

    <section class="document-section prose">
      <h2>Education</h2>
      <ul>
        <li>California College of the Arts, Class of 2020 &mdash; MFA in Comics</li>
        <li>Otis College of Art + Design, Class of 2011 &mdash; BFA in Digital Media</li>
      </ul>
    </section>

    <section class="document-section prose">
      <h2>Teaching Experience</h2>
      <ul>
        <li>Long Beach City College &mdash; Digital Media Adjunct Professor / 2024 &ndash; Present</li>
        <li>Santa Ana College &mdash; Digital Media Adjunct Professor / 2023 &ndash; Present, Santa Ana, CA</li>
        <li>Mural Workforce Academy &mdash; Teaching Artist / 2023 &ndash; 2024, Boyle Heights, CA</li>
        <li>Boyle Heights Arts Conservatory &mdash; Teaching Artist / 2023 &ndash; 2024, Boyle Heights, CA</li>
        <li>Venice Arts &ndash; Comics &mdash; Teaching Artist / 2023, Venice Beach, CA</li>
        <li>Comics as Essay Workshop &mdash; Instructor / 2023 &ndash; Present, Cal Lutheran University, Thousand Oaks, CA</li>
        <li>Comics of Color Workshop &mdash; Instructor / 2022 &ndash; Present, Eagle Rock Center of the Arts, Eagle Rock, CA</li>
        <li>Queer Rebels Artist Residency &mdash; Artist in Residence &amp; Mentor / 2022, San Francisco, CA</li>
        <li>Month of Comics &mdash; Instructor / 2022, Horchateria Rio Luna, Paramount, CA</li>
        <li>Comics &amp; Independent Publishing &mdash; Instructor + Mentor / 2021 &ndash; 2022, STEM Academy Odyssey, Lakewood, CA</li>
        <li>Comics &amp; Independent Publishing &mdash; Instructor + Mentor / 2019, The Young Vets, Somerset High School, Bellflower, CA</li>
        <li>Digital Media &amp; Storytelling &mdash; Instructor / 2017 &ndash; 2018, Youth Radio (YR Media), Oakland, CA</li>
        <li>Comic Book Theory &mdash; Assistant Professor / 2018, California College of the Arts, San Francisco, CA</li>
        <li>All Ages Comics/Zine Workshop &mdash; Instructor / 2016 &ndash; 2018, Salinas Comic Con, Steinbeck Center, Salinas, CA</li>
        <li>Digital Media &amp; Storytelling &mdash; Instructor + Project Manager / 2015 &ndash; 2016, YMCA PG&amp;E Youth Institute, Berkeley, CA</li>
        <li>Comics + 2D Animation &mdash; Assistant Professor / 2008 &ndash; 2011, Otis College of Art &amp; Design, Los Angeles, CA</li>
      </ul>
    </section>

    <section class="document-section prose">
      <h2>Selected Publications</h2>
      <ul>
        <li>WALO: A Central American Odyssey &mdash; Chele Delgado Publications, 2022</li>
        <li>"Every Body Is Different" &mdash; from <em>Cocinas to Lucha Libre Ringsides</em> Anthology, Mad Creek Books, 2025</li>
        <li>"Saved" + "Struggle" &mdash; from <em>Tales from La Vida: A Latinx Comic Anthology</em>, Mad Creek Books, 2018</li>
      </ul>
    </section>

    <section class="document-section prose">
      <h2>Public Appearances</h2>
      <ul>
        <li>Guest Speaker &mdash; 2023, Whittier College Zine Festival, Whittier, CA</li>
        <li>Guest Speaker / Facilitator &mdash; 2023, Otis College of the Arts Art &amp; Zine Festival, Los Angeles, CA</li>
        <li>Guest Artist &mdash; 2022, ShortRun Art &amp; Zine Festival, Oakland, CA</li>
        <li>Guest Speaker: Comics as Healing &mdash; 2022, Oakland Creates Art &amp; Zine Festival, Oakland, CA</li>
        <li>Documentarian + Interviewer + Speaker &mdash; 2022, Arts.Co.Lab Pecha Kucha with Accion Latina, San Francisco, CA</li>
        <li>Documentarian + Interviewer &mdash; 2022, Latinx Comics Arts Festival, Modesto, CA</li>
        <li>Featured Artist &mdash; 2015 &ndash; 2020, East Bay Alternative Book &amp; Zine Festival, Berkeley, CA</li>
        <li>Featured Artist &mdash; 2020, Black Comic &amp; Arts Festival, San Francisco, CA</li>
        <li>Featured Artist &mdash; 2020, San Francisco Cyber Zine Festival, San Francisco, CA</li>
        <li>Featured Artist &mdash; 2020, Exterminator City Comix &amp; Zines Expo, Seattle, WA</li>
        <li>Guest Speaker &mdash; 2020, Latinx Comics Arts Festival: Creators in Conversation, Modesto, CA</li>
        <li>Guest Speaker &mdash; 2020, Twin Cities Zine Cyber Festival, Hennepin, MN</li>
        <li>Guest Reader &mdash; 2020, LA Zine Festival, Digital Zine Readings, Los Angeles, CA</li>
        <li>Guest Speaker + Filmmaker &mdash; 2018, Latino Comics Expo Film Festival, Alamo Drafthouse, San Francisco, CA</li>
        <li>Featured Filmmaker + Organizer &mdash; 2017, Latino Comics Expo Film Festival, The Freida Cinema, Santa Fe, CA</li>
        <li>Guest Speaker &mdash; 2017, Cartoon Crossroads Columbus: Community Belonging in Comics, Columbus, OH</li>
        <li>The Baylies &mdash; 2018, Online Exhibition</li>
        <li>Guest Artist + Speaker &mdash; 2016, Latino Comics Expo, Meet the Artists, The Mexican Museum, San Francisco, CA</li>
        <li>Cartoonist In-Residence &mdash; 2016, The Cartoon Art Museum, San Francisco, CA</li>
      </ul>
    </section>

    <section class="document-section prose">
      <h2>Exhibitions</h2>
      <ul>
        <li>Art in the Panel &mdash; 2023, Group Exhibition, Creative World Art Center, Arcadia, CA</li>
        <li>Line Attack! &mdash; 2021 &ndash; 2022, Group Exhibition, The Hive Gallery, Los Angeles, CA</li>
        <li>Emanata Comics Exhibition &mdash; 2019, California College of the Arts, San Francisco, CA</li>
        <li>Tales from La Vida: Latinx Comic Exhibit &mdash; 2018, San Jose Public Library, San Jose, CA</li>
      </ul>
    </section>

    <section class="document-section prose">
      <h2>Professional Affiliations</h2>
      <ul>
        <li>Latinx Comics Arts Festival &mdash; Former Board Member, Documentarian, Modesto, CA</li>
        <li>ABAW, Art Therapy Collective, Los Angeles, CA</li>
        <li>Arts.Co.Lab, Documentarian, San Francisco, CA</li>
      </ul>
    </section>
  </article>
</BaseLayout>
